

ul#playback {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#playback li {
		display: inline;
	}

#start, 
#stop, 
#resume, 
#clear,
#save{
	background-color: #607466;
	background-color: transparent;
	border-color: transparent;
}

#start:hover, 
#stop:hover, 
#resume:hover, 
#clear:hover,
#save:hover{
	background-color: #AEDCC0;
	border-color: transparent;
}

body{
	background-color: #343E3D;
}

#clickbpm:hover{

}